{% include 'assets/header.html' %}
{% load static %}
<main>

<div class="slider-area">
<div class="single-slider slider-bg3 hero-overly slider-height2 d-flex align-items-center">
<div class="container">
<div class="row justify-content-center ">
<div class="col-xl-12">
<div class="hero-caption hero-caption2 text-center">
<h2 class="font_title">Khóa học chuyển đổi số, công nghệ</h2>
</div>
</div>
</div>
</div>
</div>
</div>

{% for id in course_1 %}
<section class="categories-area section-bg">
<div class="container">
 <div class="row">
     <div class="col-lg-3 col-md-4 col-sm-6">
         <div class="single-cat text-center mb-30">
             <div class="cat-icon">
                 <img style="width: 100%;" src="{{ id.img_course.url }}" alt>
             </div>
             <div class="cat-cap">
                 <h5 class="font_title">{{id.name_course}}</h5>
                 <a href="{% url 'Course:course_detail' id.id_course %}" class="browse-btn2">Learn More <img src="{% static 'assets/img/icon/right-arrow2.svg' %}" alt></a>
             </div>
         </div>
     </div>
     {% for id in course_2 %}
     <div class="col-lg-3 col-md-4 col-sm-6">
         <div class="single-cat text-center mb-30">
             <div class="cat-icon">
                 <img  style="width: 75%;" src="{{ id.img_course.url }}" alt>
             </div>
             <div class="cat-cap">
                 <h5 class="font_title">{{id.name_course}}</h5>
                 <a href="{% url 'Course:course_detail' id.id_course %}" class="browse-btn2">Learn More <img src="{% static 'assets/img/icon/right-arrow2.svg' %}" alt></a>
             </div>
         </div>
     </div>
     {% endfor %}
     {% for id in course_3 %}
     <div class="col-lg-3 col-md-4 col-sm-6">
         <div class="single-cat text-center mb-30">
             <div class="cat-icon">
                 <img style="width: 87%;" src="{{ id.img_course.url }}" alt>
             </div>
             <div class="cat-cap">
                 <h5 class="font_title">{{id.name_course}}</h5>
                 <a href="{% url 'Course:course_detail' id.id_course %}" class="browse-btn2">Learn More <img src="{% static 'assets/img/icon/right-arrow2.svg' %}" alt></a>
             </div>
         </div>
     </div>
     {% endfor %}
     {% for id in course_4 %}
     <div class="col-lg-3 col-md-4 col-sm-6">
         <div class="single-cat text-center mb-30">
             <div class="cat-icon">
                 <img style="width: 100%;" src="{{ id.img_course.url }}" alt>
             </div>
             <div class="cat-cap">
                 <h5 class="font_title">{{id.name_course}}</h5>
                 <a href="{% url 'Course:course_detail' id.id_course %}" class="browse-btn2">Learn More <img src="{% static 'assets/img/icon/right-arrow2.svg' %}" alt></a>
             </div>
         </div>
     </div>
     {% endfor %}
     {% for id in course_5 %}
     <div class="col-lg-3 col-md-4 col-sm-6">
         <div class="single-cat text-center mb-30">
             <div class="cat-icon">
                 <img style="width: 100%;" src="{{ id.img_course.url }}" alt>
             </div>
             <div class="cat-cap">
                 <h5 class="font_title">{{id.name_course}}</h5>
                 <a href="{% url 'Course:course_detail' id.id_course %}" class="browse-btn2">Learn More <img src="{% static 'assets/img/icon/right-arrow2.svg' %}" alt></a>
             </div>
         </div>
     </div>
     {% endfor %}
     {% for id in course_6 %}
     <div class="col-lg-3 col-md-4 col-sm-6">
         <div class="single-cat text-center mb-30">
             <div class="cat-icon">
                 <img style="width: 100%;" src="{{ id.img_course.url }}" alt>
             </div>
             <div class="cat-cap">
                 <h5 class="font_title">{{id.name_course}}</h5>
                 <a href="{% url 'Course:course_detail' id.id_course %}" class="browse-btn2">Learn More <img src="{% static 'assets/img/icon/right-arrow2.svg' %}" alt></a>
             </div>
         </div>
     </div>
     {% endfor %}
     {% for id in course_7 %}
     <div class="col-lg-3 col-md-4 col-sm-6">
         <div class="single-cat text-center mb-30">
             <div class="cat-icon">
                 <img style="width: 100%;" src="{{ id.img_course.url }}" alt>
             </div>
             <div class="cat-cap">
                 <h5 class="font_title">{{id.name_course}}</h5>
                 <a href="{% url 'Course:course_detail' id.id_course %}" class="browse-btn2">Learn More <img src="{% static 'assets/img/icon/right-arrow2.svg' %}" alt></a>
             </div>
         </div>
     </div>
     {% endfor %}
     {% for id in course_8 %}
     <div class="col-lg-3 col-md-4 col-sm-6">
         <div class="single-cat text-center mb-30">
             <div class="cat-icon">
                 <img style="width: 100%;" src="{{ id.img_course.url }}" alt>
             </div>
             <div class="cat-cap">
                 <h5 class="font_title">{{id.name_course}}</h5>
                 <a href="{% url 'Course:course_detail' id.id_course %}" class="browse-btn2">Learn More <img src="{% static 'assets/img/icon/right-arrow2.svg' %}" alt></a>
             </div>
         </div>
     </div>
     {% endfor %}
     {% for id in course_9 %}
     <div class="col-lg-3 col-md-4 col-sm-6">
         <div class="single-cat text-center mb-30">
             <div class="cat-icon">
                 <img style="width: 100%;" src="{{ id.img_course.url }}" alt>
             </div>
             <div class="cat-cap">
                 <h5 class="font_title">{{id.name_course}}</h5>
                 <a href="{% url 'Course:course_detail' id.id_course %}" class="browse-btn2">Learn More <img src="{% static 'assets/img/icon/right-arrow2.svg' %}" alt></a>
             </div>
         </div>
     </div>
     {% endfor %}
     {% for id in course_10 %}
     <div class="col-lg-3 col-md-4 col-sm-6">
         <div class="single-cat text-center mb-30">
             <div class="cat-icon">
                 <img style="width: 100%;" src="{{ id.img_course.url }}" alt>
             </div>
             <div class="cat-cap">
                 <h5 class="font_title">{{id.name_course}}</h5>
                 <a href="{% url 'Course:course_detail' id.id_course %}" class="browse-btn2">Learn More <img src="{% static 'assets/img/icon/right-arrow2.svg' %}" alt></a>
             </div>
         </div>
     </div>
     {% endfor %}
     {% for id in course_11 %}
     <div class="col-lg-3 col-md-4 col-sm-6">
         <div class="single-cat text-center mb-30">
             <div class="cat-icon">
                 <img style="width: 100%;" src="{{ id.img_course.url }}" alt>
             </div>
             <div class="cat-cap">
                 <h5 class="font_title">{{id.name_course}}</h5>
                 <a href="{% url 'Course:course_detail' id.id_course %}" class="browse-btn2">Learn More <img src="{% static 'assets/img/icon/right-arrow2.svg' %}" alt></a>
             </div>
         </div>
     </div>
     {% endfor %}
     {% for id in course_12 %}
     <div class="col-lg-3 col-md-4 col-sm-6">
         <div class="single-cat text-center mb-30">
             <div class="cat-icon">
                 <img style="width: 100%;" src="{{ id.img_course.url }}" alt>
             </div>
             <div class="cat-cap">
                 <h5 class="font_title">{{id.name_course}}</h5>
                 <a href="{% url 'Course:course_detail' id.id_course %}" class="browse-btn2">Learn More <img src="{% static 'assets/img/icon/right-arrow2.svg' %}" alt></a>
             </div>
         </div>
     </div>
     {% endfor %}
     {% for id in course_13 %}
     <div class="col-lg-3 col-md-4 col-sm-6">
         <div class="single-cat text-center mb-30">
             <div class="cat-icon">
                 <img style="width: 100%;" src="{{ id.img_course.url }}" alt>
             </div>
             <div class="cat-cap">
                 <h5 class="font_title">{{id.name_course}}</h5>
                 <a href="{% url 'Course:course_detail' id.id_course %}" class="browse-btn2">Learn More <img src="{% static 'assets/img/icon/right-arrow2.svg' %}" alt></a>
             </div>
         </div>
     </div>
     {% endfor %}
 </div>
</div>
</section>
{% endfor %}



<section class="wantToWork-area w-padding2">
<div class="container">
<div class="row align-items-center justify-content-between">
<div class="col-xl-5 col-lg-5 col-md-8">
<div class="wants-wrapper">
<div class="wantToWork-caption wantToWork-caption2">
<h2>Any help needed?</h2>
<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.</p>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-4">
<a href="/services" class="btn_10 wantToWork-btn">Tìm kiếm khóa học<img src="{% static 'assets/img/icon/right-arrow.svg' %}" alt></a>
</div>
</div>
</div>
</section>

</main>
{% include 'assets/footer.html' %}