{% include 'assets/header.html' %}
{% load static %}
<main>

<div class="slider-area">
<div class="single-slider slider-bg3 hero-overly slider-height2 d-flex align-items-center">
<div class="container">
<div class="row justify-content-center ">
<div class="col-xl-12">
<div class="hero-caption hero-caption2 text-center">
<h2>Khóa học chuyển đổi số, công nghệ</h2>
</div>
</div>
</div>
</div>
</div>
</div>


<section class="categories-area section-bg">
<div class="container">
 <div class="row">
     <div class="col-lg-3 col-md-4 col-sm-6">
         <div class="single-cat text-center mb-30">
             <div class="cat-icon">
                 {% for item in course %}
                 <img src="{% static 'assets/img/congnghe5G_banner.jpg' %}" style = "height: 100%; width: 100%;" alt>
             </div>
             <div class="cat-cap">
                 <h5>{{item.name_course}}</h5>
                     <a href="{% url 'Course:course_detail' item.id_course %}" class="browse-btn2">Learn More <img src="{% static 'assets/img/icon/right-arrow2.svg' %}" alt></a>
                 {% endfor %}
             </div>
         </div>
     </div>
     <div class="col-lg-3 col-md-4 col-sm-6">
         <div class="single-cat text-center mb-30">
             <div class="cat-icon">
                 <img src="{% static 'assets/img/img_course/marketingsale-thumb.jpg' %}" alt>
             </div>
             <div class="cat-cap">
                 <h5>Điện toán đám mây</h5>
                 <a href="#" class="browse-btn2">Learn More <img src="{% static 'assets/img/icon/right-arrow2.svg' %}" alt></a>
             </div>
         </div>
     </div>
     <div class="col-lg-3 col-md-4 col-sm-6">
         <div class="single-cat text-center mb-30">
             <div class="cat-icon">
                 <img src="{% static 'assets/img/img_course/phapluathopdong-thumb.jpg' %}" alt>
             </div>
             <div class="cat-cap">
                 <h5>Chuyển đổi số trong vận hành các nhà máy điện</h5>
                 <a href="#" class="browse-btn2">Learn More <img src="{% static 'assets/img/icon/right-arrow2.svg' %}" alt></a>
             </div>
         </div>
     </div>
     <div class="col-lg-3 col-md-4 col-sm-6">
         <div class="single-cat text-center mb-30">
             <div class="cat-icon">
                 <img src="{% static 'assets/img/img_course/benhvien-thumb.jpg' %}" alt>
             </div>
             <div class="cat-cap">
                 <h5>Trí tuệ nhân tạo (AI) và học máy (Machine learning)</h5>
                 <a href="#" class="browse-btn2">Learn More <img src="{% static 'assets/img/icon/right-arrow2.svg' %}" alt></a>
             </div>
         </div>
     </div>
     <div class="col-lg-3 col-md-4 col-sm-6">
         <div class="single-cat text-center mb-30">
             <div class="cat-icon">
                 <img src="{% static 'assets/img/img_course/business.jpg' %}" alt>
             </div>
             <div class="cat-cap">
                 <h5>Ứng dụng IOT và AI trong đô thị thông minh</h5>
                 <a href="#" class="browse-btn2">Learn More <img src="{% static 'assets/img/icon/right-arrow2.svg' %}" alt></a>
             </div>
         </div>
     </div>
     <div class="col-lg-3 col-md-4 col-sm-6">
         <div class="single-cat text-center mb-30">
             <div class="cat-icon">
                 <img src="{% static 'assets/img/img_course/quanlytruyenthong-thumb.jpg' %}" alt>
             </div>
             <div class="cat-cap">
                 <h5>Công nghệ Blockchain</h5>
                 <a href="#" class="browse-btn2">Learn More <img src="{% static 'assets/img/icon/right-arrow2.svg' %}" alt></a>
             </div>
         </div>
     </div>
     <div class="col-lg-3 col-md-4 col-sm-6">
         <div class="single-cat text-center mb-30">
             <div class="cat-icon">
                 <img src="{% static 'assets/img/img_course/daukhinangluong-thumb.jpg' %}" alt>
             </div>
             <div class="cat-cap">
                 <h5>Các giải pháp công nghệ mới cho nền kinh tế</h5>
                 <a href="#" class="browse-btn2">Learn More <img src="{% static 'assets/img/icon/right-arrow2.svg' %}" alt></a>
             </div>
         </div>
     </div>
     <div class="col-lg-3 col-md-4 col-sm-6">
         <div class="single-cat text-center mb-30">
             <div class="cat-icon">
                 <img src="{% static 'assets/img/img_course/phattriennangluc-thumb.jpg' %}" alt>
             </div>
             <div class="cat-cap">
                 <h5>Phân tích dữ liệu lớn</h5>
                 <a href="#" class="browse-btn2">Learn More <img src="{% static 'assets/img/icon/right-arrow2.svg' %}" alt></a>
             </div>
         </div>
     </div>
     <div class="col-lg-3 col-md-4 col-sm-6">
         <div class="single-cat text-center mb-30">
             <div class="cat-icon">
                 <img src="{% static 'assets/img/img_course/taichinhthue-thumb.jpg' %}" alt>
             </div>
             <div class="cat-cap">
                 <h5>Tài chính thuế</h5>
                 <a href="#" class="browse-btn2">Learn More <img src="{% static 'assets/img/icon/right-arrow2.svg' %}" alt></a>
             </div>
         </div>
     </div>
     <div class="col-lg-3 col-md-4 col-sm-6">
         <div class="single-cat text-center mb-30">
             <div class="cat-icon">
                 <img src="{% static 'assets/img/img_course/vienthong-thumb.jpg' %}" alt>
             </div>
             <div class="cat-cap">
                 <h5>Viễn thông</h5>
                 <a href="#" class="browse-btn2">Learn More <img src="{% static 'assets/img/icon/right-arrow2.svg' %}" alt></a>
             </div>
         </div>
     </div>
     <div class="col-lg-3 col-md-4 col-sm-6">
         <div class="single-cat text-center mb-30">
             <div class="cat-icon">
                 <img src="{% static 'assets/img/img_course/nhansudaotao-thumb.jpg' %}" alt>
             </div>
             <div class="cat-cap">
                 <h5>Nhân sự đào tạo</h5>
                 <a href="#" class="browse-btn2">Learn More <img src="{% static 'assets/img/icon/right-arrow2.svg' %}" alt></a>
             </div>
         </div>
     </div>
     <div class="col-lg-3 col-md-4 col-sm-6">
         <div class="single-cat text-center mb-30">
             <div class="cat-icon">
                 <img src="{% static 'assets/img/img_course/khochuoicungung-thumb.jpeg' %}" alt>
             </div>
             <div class="cat-cap">
                 <h5>Kho & chuỗi cung ứng</h5>
                 <a href="#" class="browse-btn2">Learn More <img src="{% static 'assets/img/icon/right-arrow2.svg' %}" alt></a>
             </div>
         </div>
     </div>
     <div class="col-lg-3 col-md-4 col-sm-6">
         <div class="single-cat text-center mb-30">
             <div class="cat-icon">
                 <img src="{% static 'assets/img/img_course/quanlynhanuoc-thumb.jpg' %}" alt>
             </div>
             <div class="cat-cap">
                 <h5>Quản lý nhà nước</h5>
                 <a href="#" class="browse-btn2">Learn More <img src="{% static 'assets/img/icon/right-arrow2.svg' %}" alt></a>
             </div>
         </div>
     </div>
 </div>
</div>
</section>


<section class="wantToWork-area w-padding2">
<div class="container">
<div class="row align-items-center justify-content-between">
<div class="col-xl-5 col-lg-5 col-md-8">
<div class="wants-wrapper">
<div class="wantToWork-caption wantToWork-caption2">
<h2>Any help needed?</h2>
<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.</p>
</div>
</div>
</div>
<div class="col-xl-3 col-lg-3 col-md-4">
<a href="/services" class="btn_10 wantToWork-btn">Tìm kiếm khóa học<img src="{% static 'assets/img/icon/right-arrow.svg' %}" alt></a>
</div>
</div>
</div>
</section>

</main>
{% include 'assets/footer.html' %}